.main-container{
	margin-top: 100px;

}

.request-heading{
	font-family: 'Amaranth',sans-serif;
	font-size: 2em;
	font-weight: bold;
}
.request-title{
	font-family: 'Amaranth',sans-serif;
	font-size: 1.3em;
}
.request-row{
	background-color: #F1FAEE;
	padding: 20px;	
}
